
# Basic Flask Install
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.5
Flask-Script==2.0.5

# Database Connector
PyMySQL==0.7.2

# Third-Party json serializer
simplejson=3.8.2